.row
{
	margin: 0;
}
body
{
	padding: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    background-color: #fff;
}
section{
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Navbar Design*/

.navbar
{
	background : #fff;
	padding:40px 0px;
	border: none;
	transition: all 0.5s ease 0s;
}
.navbar-left li 
{
	text-transform: uppercase;
	font-size: 13px;
}

.navbar-default .navbar-nav>li>a:hover
{
	color: #d49d7c;
} 
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
	background-color: transparent;
} 
.navbar-default .navbar-left > li > a {
    padding: 15px 20px;
    font-size: 13px;
}
.navbar-default .navbar-right > li > a {
    padding: 15px 10px;
    font-size: 13px;
}
.navbar-brand
{
	padding-top: 5px;
}
.navbar .logo
{
	height:60px; 
}
.shrink
{
	padding:10px 0px;
	background-color: rgba(255, 255, 255, 0.92);
}
/* Headings and Paragraphs */
.main-heading
{
	font-size: 18px;
	color: #494c50;
	font-weight: 400;
	letter-spacing: 0.4em;
}
.main-content{
	font-weight: 300;
	margin-top: 15px;
	letter-spacing: 0.1em;
	line-height: 1.6;
	color : #a6a7a8;
	font-size: 16px;	
}
.sub-heading-1
{
	color: #494c50;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin-bottom: 1.5em;
	margin-top: 30px;
	text-transform: uppercase;

}
.sub-heading-2
{
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.sub-content-1
{
	font-size: 13px;
	line-height: 25px;
	color: #686868;
	text-align: justify;
}
.sub-content-2
{
	font-size: 12px;
	color: #a6a7a8;
}

/*Rotating images*/
.image-rotate-scale 
{
	overflow: hidden;
}
.image-rotate-scale img
{
	transition: all 0.9s ease 0s;
}
.image-rotate-scale:hover img
{
	transform: rotate(10deg) scale(1.5);
}

#about-head
{
	background-color: #434b55;
	color: #fff;
	padding: 100px 0px 30px;
}
#about-head .main-heading
{
	color: #fff;
}
#about-head .breadcrumb
{
	background-color: transparent;
	text-transform: uppercase;
}
#about-head .breadcrumb a
{
	   color: #a6a7a8;
       font-weight: 300;
       font-size: 11px;
}
#about-head .breadcrumb > .active {
    color: #a6a7a8;
    font-size: 11px;
}
#about-head .breadcrumb a:hover
{
	   color: #fff;
	   text-decoration: none;
}
#about-head .breadcrumb li
{
    font-size: 13px;
    line-height: 25px;
}
#dividers-2{
	margin: 10px 0 10px;
	padding: 0px;
	border-top: solid 1px #f2f2f2;
	border-bottom: solid 1px #f2f2f2;
}

#get-touch
{
	background-color: #434b55;
	color: #fff;
	padding: 75px 0px 60px;
}
#get-touch .main-heading
{
	color: #fff;
}
#get-touch .sub-heading-2
{
	color: #fff;
}
#get-touch .item-center
{
	border-left: solid 1px #a6a7a8;
	border-right: solid 1px #a6a7a8;
}
#get-touch .get_touch
{
	padding-top: 70px;
}
#get-touch .main-content
{
	font-size: 16px;
}

#dividers-4 .item
{
	border: 1px solid #f2f2f2;
	padding: 20px;
}
#dividers-4 .item:hover img
{
	opacity: 0.7;
}

#features
{
	background-color: #4e5660;
	color: #fff;
}
#features .main-heading
{
	color: #fff;
}
#features .item
{
	padding: 30px;	
}
#features .item .details:hover
{
	box-shadow: 2px 2px 10px #323840;
}
#features .item .details
{
	background-color: #434b55;
	transition: all 0.9s ease 0s;
}
#features .item .glyphicon
{
	padding: 30px;
	font-size: 3em;
}
#features .item .content-icon
{
	background-color: #323840;
}
#features .item .feature-text
{
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-top: 15px;
}


.notifications
{
	height: 300px;
	overflow: hidden;
}

#mission
{
	background-color: #4e5660;
	color: #fff;
}
#mission .main-heading
{
	color: #fff;
}
#mission .glyphicon
{
	background-color: #fff;
	color: #4e5660;
	padding: 30px;
	font-size: 3em;
	border-radius: 100px; 
	transition: all 0.9s ease 0s;
}
#mission:hover .glyphicon
{
	border-radius: 10px;
}

/* Carousel - Design */
.slide-1 {
	background-image: url("../img/b4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.slide-2 {
	background-image: url("../img/b3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.slide-3 {
	background-image: url("../img/b5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 500px; 
	height: 100%;
	width:100%; 
}
.carousel-caption
{
	padding-bottom: 150px;
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	background-color: transparent;
}
.carousel-caption h3 {
	font-size: 3.5vw;
	padding: .5em;
	text-shadow: none;
	font-weight: 900;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #4e5660;
	margin-top: 1em; 
}
.carousel-caption h3:first-child {
	animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
}
.carousel-caption button {
	animation-delay: 3s;
}
.p {
  padding-top: 125px;
  text-align: center;
}
.p a {
  text-decoration: underline;
}
.carousel-control
{
	width: 0px;
	opacity:1;
}
.carousel-control:hover
{
	opacity:.5;
}
@media screen and (max-width: 660px)
{
	.carousel-caption h3 {
	font-size: 24px;
}
	.carousel-caption
{
	padding-bottom: 50%;
}
}
.glyphicon-menu-left,.glyphicon-menu-right
{
	top: 40%;
	padding: 30px 10px;
	background-color: transparent;
}
.glyphicon-menu-right
{
	margin-left: -40px;
}
#contact-map
{
	padding: 80px 0px;
}
#contact-map .main-content
{
	padding-bottom: 60px;
	font-size: 13px;
}
#contact-form input
{
	height: 40px;
}
#contact-form .input
{
	padding-top: 10px;
	padding-left: 0;
}
#contact-form label
{
	font-weight: 300;
    margin: 10px 0;
    color: #494c50;
}
#contact-form .form-control
{
	font-size: 12px;
    background-color: #fff;
    border: 1px solid rgb(64, 67, 71);
    border-radius: 0;
}
#contact-form .main-heading
{
	font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-bottom: 1.5em;
    margin-top: 30px;
    text-transform: uppercase;
}
#contact-form .form-control:focus
{
    border-color: #cb875f;
    box-shadow: none;
}
#contact-form button
{
	border: 1px solid rgb(64, 67, 71);
    color: rgb(64, 67, 71);
    float: none;
    font-size: 13px;
    height: auto;
    letter-spacing: 2px;
    line-height: 1;
    margin: 8px 10px 6px 0;
    padding: 11px 30px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border-radius: 0;
}
#contact-form button:hover
{
	border-color: #cb875f;
}
#map
{
	height:450px;
}
footer .footer-text h1
{
	font-size:16px;
}
footer .footer-text a
{
	text-decoration: none;
	color: #4e5660;
}