{% extends "admin/base.html" %}

{% block title %}{{ title }} | Crosslite admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Crosslite Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
