{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% block main_content %}


    	<section id="about-head">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">SOMETHING ABOUT US</h4>
					<ol class="breadcrumb">
						 <li><a href="index.html">Home</a></li>
						 <li class="active">About</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
		<section id="dividers-2">
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive" src="{% static 'img/cv.jpg' %}">
			</div>
			<div class="col-md-6">
				<h4 class="sub-heading-1">Crosslite Infra</h4>
				<p class="sub-content-1" style="text-align: justify;">Crosslite Infra Pvt. Ltd is an engineering, construction company. A strong customer focused approach and the continuous quest for world class quality have enabled it to attain and sustain leadership in all this major lines of business. 
				Crosslite Infra believes that progress must be achieved in harmony with the environment. From our inception, we have taken an aggressive, positive approach to sustainability. We believe that we have responsibility towards our clients and employees; to embed sustainability at every level of our organization. A commitment to community welfare and environmental protection are internal party of the sustainability policy.
				Crosslite Infra is equipped with the requisite expertise and wide range experience to undertake engineering procurement and construction (EPC) projects with single source responsibility. Contracts are executed using state of art design tools and project management techniques from concept to commissioning.</p>
			</div>
		</div>
	</section>
	<section id="dividers-4">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">MORE ABOUT US</h4>
					<p class="main-content">Professional construction services</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 item text-center">
					<img class="img-responsive" src="{% static 'img/team.jpg' %}">
					<h4 class="sub-heading-1">WE HAVE A STRONG TEAM</h4>
					<p class="sub-content-1">Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results.</p>
				</div>
				<div class="col-md-3 item text-center">
					<img class="img-responsive" src="{% static 'img/custom.jpg' %}">
					<h4 class="sub-heading-1">WE VALUE OUR CLIENTS</h4>
					<p class="sub-content-1">We strive to obtain economic success and achieve complete satisfaction of our customers through our unique combination of comprehensive know-how, local knowledge and extensive international experience.</p>
				</div>
				<div class="col-md-3 item text-center">
					<img class="img-responsive" src="{% static 'img/vision.jpg' %}">
					<h4 class="sub-heading-1">OUR VISION</h4>
					<p class="sub-content-1">To set industrial standard by ensuring effectiveness to our customers, and consistently improve the quality of services in all accepts of construction by holding our core values and commitments to the nature.</p>
				</div>
				<div class="col-md-3 item text-center">
					<img class="img-responsive" src="{% static 'img/mission.jpg' %}">
					<h4 class="sub-heading-1">OUR MISSION</h4>
					<p class="sub-content-1">Our mission is to develop innovative and practical solutions for our customers, whether they are detailed individual services or a complete solution from a single contractor.
					We strive to achieve complete satisfaction of our customers.</p>
				</div>
			</div>
		</div>
	</section>
		<section id="mission">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">OUR MISSION</h4>
					<p><span class="glyphicon glyphicon-knight" aria-hidden="true"></span></p>
					<p class="main-content">Our mission is to develop innovative and practical solutions for our customers, whether they are detailed individual services or a complete solution from a single contractor.</p>
				</div>
			</div>
		</div>
	</section>


	
{% endblock %}