{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Welcome To Crosslite Infra</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
</head>
<body>
	<header>
        <nav class="navbar navbar-default navbar-fixed-top changes">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home"><img class="logo img-responsive" src="{% static 'img/logo.png' %}"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul id="menu" class="nav navbar-nav navbar-left">
                        <li data-menuanchor="home"><a href="/">Home</a></li>
                        <li data-menuanchor="services"><a href="/services/">Services</a></li>
                        <li data-menuanchor="portfolio"><a href="/portfolio/">Portfolio</a></li>
						<li data-menuanchor="gallery"><a href="/gallery/">Gallery</a></li>
                        <li data-menuanchor="about"><a href="/about/">About Us</a></li>
                        <li data-menuanchor="blog"><a href="/blog/">Blog</a></li>
                        <li data-menuanchor="contact"><a href="/contact/">Contact Us</a></li>
                    </ul>
                    <ul id="menu" class="nav navbar-nav navbar-right">
                        <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

	{% block main_content %}
    {% endblock %}

    	<section id="get-touch">
		<div class="container ">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">GET IN TOUCH</h4>
					<p class="main-content">If you'd like to discuss a project with one of our team, drop us a line on
							+919544720000 or email info@crossliteinfra.com</p>
				</div>
			</div>
			<div class="row get_touch">
				<div class="col-md-4 text-center">
					<p class="sub-heading-2"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Telephone</p>
					<p class="sub-content-2">+919544720000</p>
				</div>
				<div class="col-md-4 text-center item-center">
					<p class="sub-heading-2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Address</p>
					<p class="sub-content-2">HOUSE NO 116, ST MARTIN ROAD<br>PALARIVATTAM<br>ERNAKULAM</p>
				</div>
				<div class="col-md-4 text-center">
					<p class="sub-heading-2"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</p>
					<p class="sub-content-2">INFO@CROSSLITEINFRA.COM</p>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="row">
			<div class="col-md-12 text-center footer-text">
				<h1>Made with <span class="glyphicon glyphicon-heart"></span>  by <strong><a href="http://www.crypstaltechnolgies.com">Crypstal</a></strong> Designs</h1>
			</div>
	</footer>

	<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lightbox.js' %}"></script>
	<script type="text/javascript">
		var i = 1;
		function scroll () {
		   setTimeout(function () {
          	$("#scroll").css("margin-top",i+"px");
		      i--;
		      if (i > -540) {
		         scroll();
		      }
		      else{
		      	i=300;
		      	scroll();
		      }
		   }, 50)
		}
		scroll();

		(function( $ ) {
		    function doAnimations( elems ) {
		        var animEndEv = 'webkitAnimationEnd animationend';

		        elems.each(function () {
		            var $this = $(this),
		                $animationType = $this.data('animation');
		            $this.addClass($animationType).one(animEndEv, function () {
		                $this.removeClass($animationType);
		            });
		        });
		    }
		    var $myCarousel = $('#mycarousel'),
		        $firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");
		    $myCarousel.carousel();
		    doAnimations($firstAnimatingElems);
		    $myCarousel.carousel('pause');
		    $myCarousel.on('slide.bs.carousel', function (e) {
		        var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
		        doAnimations($animatingElems);
		    });
		})(jQuery);

		  $(window).scroll(function () {
                if ($(document).scrollTop() > 50) {
                    $('nav').addClass('shrink');
                } else {
                    $('nav').removeClass('shrink');
                }
            });
	</script>

</body>
</html>