{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% block main_content %}

    	<section id="about-head">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">BLOG</h4>
					<p class="main-content">Our Latest Updates</p>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Blog</li>
					</ol>
				</div>
			</div>
		</div>
	</section>



<!--    <div class="pagination">
    <span class="step-links">
        {% if blog.has_previous %}
            <a href="?page={{ blog.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ blog.number }} of {{ blog.paginator.num_pages }}.
        </span>

        {% if blog.has_next %}
            <a href="?page={{ blog.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>-->
	<section id="dividers-3">
		<div class="container">
		<div class="col-md-8">
		{% for post in blog %}
			<div class="row">
				<div class="col-md-4">
					<img style="height: 200px; margin: 10px auto;"  src="{{ post.image.url }}" class="img-responsive">
				</div>
				<div class="col-md-8">
				<h2 style="text-transform: uppercase;">{{ post.title }}</h2>
				<p style="float: right;">{{ post.pub_date }}</p>
				<p>{{ post.author }}</p>
				<p style="text-align: justify;" >
				{{ post.content|truncatewords:33 }}
				</p>
				<a href = "{% url 'detail' post.id %}" class="btn btn-default">Read More</a>
				</div>
				</div>
				
			
		{% endfor %} 
		</div>

			<div class="col-md-4">
			<h3>Latest Posts</h3>
			<div class="posts">
		{% for latest_post in latest_posts %}
			<div class="row">
			<div class="col-md-4">
				<img style="height: 70px; margin: 10px auto;" src="{{ latest_post.image.url }}" class="img-responsive">
			</div>
			<div class="col-md-8">
				<h4 style="margin:0;">{{ latest_post.title }}</h4>
				<p style="text-align: justify; font-size: 12px;" >
				{{ latest_post.content|truncatewords:10 }}
				</p>
			<a href="{% url 'detail' latest_post.id %}">Read More</a>
			</div>
			</div>

		{% endfor %}
		</div> 			
			</div>
		</div>
		<div class="row">
		<div class="col-md-6 text-center">
			<ul class="pagination">
            {% if blog.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ blog.previous_page_number }}"><</a></li>
            {% endif %}

            {% for i in blog.paginator.page_range %}
                <li {% if blog.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if blog.has_next %}
                <li><a href="?page={{ blog.next_page_number }}">></a></li>
                <li><a href="?page={{ blog.paginator.num_pages }}">>></a></li>
            {% endif %}
		</ul>
		</div>	
		</div>
	</section>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}


