{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% block main_content %}

    	<section id="about-head">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">GET IN TOUCH</h4>
					<p class="main-content">All to contact us</p>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Contact</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section id ="contact-form">
		<div class="row">
			<div class="col-md-5">
			</div>
			<div class="col-md-7">
				<h4 class="main-heading">CONTACT FORM</h4>
				<form class="row">
					  <div class="col-md-6 input">
					    <label >First Name</label>
					    <input type="text" class="form-control"  placeholder="First Name">
					  </div>
					  <div class="col-md-6 input">
					    <label >Last Name</label>
					    <input type="text" class="form-control" placeholder="Last Name">
					  </div>
					   <div class="col-md-6 input">
					    <label >Email</label>
					    <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Email">
					    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					  </div>
					  	<div class="col-md-6 input">
					    <label >Phone Number</label>
					    <input type="text" class="form-control"  placeholder="Phone Number">
					  </div>
					  <div class="col-md-12 input">
					    <label >Write your message here</label>
					    <textarea class="form-control" rows="6"></textarea>
					  </div>
					  <div class="col-md-12 input">
					  <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
					  </div>
					</form>
			</div>
		</div>	
	</section>
	<section id="contact-map">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="container">
						 <h4 class="main-heading">VIEW US ON GOOGLE MAP</h4>
						 <p class="main-content">You can find us on google map<br>
												 </p>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="map"></div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXYfg-eTUhPJV-vJsOG6WPbvwkbzEsSdU"></script>

        <script type="text/javascript">
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);

            function init() {
                // Basic options for a simple Google Map
                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 15,
                    scrollwheel: false,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(9.0513988, 76.5361174), // New York

                    // How you would like to style the map.
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [{"featureType":"administrative","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"saturation":-100},{"lightness":"50"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"lightness":"30"}]},{"featureType":"road.local","elementType":"all","stylers":[{"lightness":"40"}]},{"featureType":"transit","elementType":"all","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]},{"featureType":"water","elementType":"labels","stylers":[{"lightness":-25},{"saturation":-100}]}]
                };

                // Get the HTML DOM element that will contain your map
                // We are using a div with id="map" seen below in the <body>
                var mapElement = document.getElementById('map');

                // Create the Google Map using our element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);

                // Let's also add a marker while we're at it
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(40.6700, -73.9400),
                    map: map,
                    title: 'Snazzy!'
                });
            }
        </script>

{% endblock %}