{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% block main_content %}

    	<section id="about-head">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">BLOG</h4>
					<p class="main-content">Our Latest Updates</p>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Blog</li>
					</ol>
				</div>
			</div>
		</div>
	</section>



<!--    <div class="pagination">
    <span class="step-links">
        {% if blog.has_previous %}
            <a href="?page={{ blog.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ blog.number }} of {{ blog.paginator.num_pages }}.
        </span>

        {% if blog.has_next %}
            <a href="?page={{ blog.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>-->
	<section id="dividers-3">
		<div class="container">
			<div class="col-md-8">
				<h1 style="text-transform: uppercase;">{{ post.title }}</h1>
				<p style="float: right;">{{ post.pub_date }}</p>
				<p>{{ post.author }}</p>
				<img style="height:500px;margin: 0 auto;" src="{{ post.image.url }}" class="img-responsive">
				<p style="text-align: justify; margin: : 20px;" >
				{{ post.content }}
				</p>
				<div style="float: right;" class="fb-share-button" 
				    data-href="{% url 'detail' post.id %}"
				    data-size ="large"
				    data-layout="button_count">
				  </div>
			</div>  	
			<div class="col-md-4">
			<h3>Latest Posts</h3>
			<div class="posts">
		{% for latest_post in latest_posts %}
			<div class="row">
			<div class="col-md-4">
				<img src="{{ latest_post.image.url }}" class="img-responsive">
			</div>
			<div class="col-md-8">
				<h4 style="margin:0;">{{ latest_post.title }}</h4>
				<a href="{% url 'detail' latest_post.id %}">Read More</a>
			</div>
			</div>

		{% endfor %}
		</div> 			
			</div>
		</div>
	</section>





	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
