{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% block main_content %}

    	<section id="about-head">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">GALLERY</h4>
					<p class="main-content">Our Gallery</p>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">GALLERY</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	 <section id="dividers-3">
        <div class="container">
            <div class="row">

                {% for photo in photos %}
                    <div class="col-md-4">
                    <div style="height:200px;" class="image-rotate-scale">
                       <a href="{% url 'photos' photo.id %}"><img class="img-responsive" src="{{ photo.image.url }}"></a>
                    </div>
                    <h4 class="sub-heading-1">{{ photo.title }}</h4>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}