{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% block main_content %}

    	<section id="carousel">
		<div class="container">
		    <div id="mycarousel" class="carousel slide">
		      <ol class="carousel-indicators">
		        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
		        <li data-target="#mycarousel" data-slide-to="1"></li>
		        <li data-target="#mycarousel" data-slide-to="2"></li>
		      </ol>
		      <div class="carousel-inner" role="listbox">
		        <div class="item active slide-1">
		          <div class="carousel-caption">
		            <h3 data-animation="animated bounceInLeft">
		              WELCOME TO CROSSLITE INFRA
		            </h3>
		          </div>
		        </div>
		        <div class="item slide-2">
		          <div class="carousel-caption">
		            <h3 data-animation="animated bounceInUp">
		              COMRADES IN COMMAND
		            </h3>
		          </div>
		        </div>
		        <div class="item slide-3">
		          <div class="carousel-caption">
		            <h3 data-animation="animated flipInX">
		              YOU DREAM IT,<br>WE BUILT IT
		            </h3>
		          </div>
		        </div>
		      </div>
		      <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
		        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
		        <span class="sr-only">Previous</span>
		      </a>
		      <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
		        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		        <span class="sr-only">Next</span>
		      </a>
		    </div>
		</div>
	</section>
	<section id="scroller">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h4 class="main-heading">Welcome to Crosslite Infra</h4>
					<p class="sub-content-1" style="text-align: justify;">Crosslite Infra Pvt. Ltd is an engineering, construction company. A strong customer focused approach and the continuous quest for world class quality have enabled it to attain and sustain leadership in all this major lines of business.
					Crosslite Infra believes that progress must be achieved in harmony with the environment. From our inception, we have taken an aggressive, positive approach to sustainability. We believe that we have responsibility towards our clients and employees; to embed sustainability at every level of our organization. A commitment to community welfare and environmental protection are internal party of the sustainability policy.
					Crosslite Infra construction is equipped with the requisite expertise and wide range experience to undertake engineering procurement and construction (EPC) projects with single source responsibility. Contracts are executed using state of art design tools and project management techniques from concept to commissioning.</p>
				</div>
				<div class="col-md-4">
					<h4 class="main-heading">Latest Events</h4>
					<div class="notifications sub-content-1">
						{% for notifications in latest_notifications %}
						<p id = "scroll">{{ notifications.notification_text }}</p>
						{% endfor %}
					</div>
				</div>
			</div>
			</div>
	</section>
	<section id="dividers-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">COMRADES IN COMMAND</h4>
					<p class="main-content">We strive to obtain economic success and achieve complete satisfaction<br>
						of our customers..</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="image-rotate-scale">
						<img class="img-responsive" src="{% static 'img/cv.jpg' %}">
					</div>
					<h4 class="sub-heading-1">Engineering Design</h4>
					<p class="sub-content-1" style="text-align: justify;">Crosslite Infra have well equipped design facilities, including consultancy services, construction engineering services for roads and other special infrastructure projects. The construction methods planning cell of this business vertical complements site activities with safe and economical construction techniques, erection schemes, method statements and project planning .</p>
				</div>
				<div class="col-md-4">
					<div class="image-rotate-scale">
						<img class="img-responsive" src="{% static 'img/pm.jpg' %}">
					</div>
					<h4 class="sub-heading-1">Project Management</h4>
					<p class="sub-content-1" style="text-align: justify;">From the innumerable projects handled, Crosslite Infra has developed a core team of project managers and dedicated sub-contractors who thoroughly understand every facet of the activity from design and construction to commissioning and has established a fool-proof methodology for speedy construction
					Resources</p>
				</div>
				<div class="col-md-4">
					<div class="image-rotate-scale">
						<img class="img-responsive" src="{% static 'img/safety.jpg' %}">
					</div>
					<h4 class="sub-heading-1">Safety & Quality</h4>
					<p class="sub-content-1" style="text-align: justify;">At Crosslite Infra Environment, Health and Safety (EHS) is considered a core value. Systems procedures are established for implementing the requisites at all stages of construction are accredited to international standards.  Our pro-active approach creates value for our clients; safe guards our most important aspect, our team.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
