{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% block main_content %}

    	<section id="about-head">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">PORTFOLIO</h4>
					<p class="main-content">Our Works</p>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Portfolio</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

    <section id="dividers-3">
        <div class="container">
            <div class="row">
            
                {% for post in posts %}
                    <div class="col-md-4">
                    <div class="image-rotate-scale">
                        <img style="height: 300px;" class="img-responsive" src="{{ post.image.url }}">
                    </div>
                    <h4 class="sub-heading-1">{{ post.title }}</h4>
                    <h6>{{ post.pub_date }}</h6>
                    <p class="sub-content-1">{{ post.content|truncatewords:10 }}</p>
                    <a href="{% url 'projectdetail' post.id %}" class="btn btn-default">READ MORE</a>
                    </div>
                {% endfor %}    

            </div>
        </div>
    </section>

{% endblock %}
