{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% block main_content %}

    	<section id="about-head">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
                    <h4 class="main-heading">PORTFOLIO</h4>
                    <p class="main-content">Our Works</p>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Portfolio</li>
                    </ol>
                </div>
			</div>
		</div>
	</section>

	    <section id="project-1">
        <div class="row">
                <div class="col-md-12 text-center">
                    <h4 class="main-heading" style="text-transform: uppercase">{{ post.title }}</h4>
                    <p class="main-content">{{ post.projectLocation }}p>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" style="margin: 0 auto;" src="{{ post.image.url }}">
            </div>
        </div>
    </section>
     <section id="projects-4">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ post.image1.url }}" data-lightbox="image-1"><img style="height:200px;" class="img-responsive" data-lightbox="image-1" src="{{ post.image1.url }}"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ post.image2.url }}" data-lightbox="image-1"><img style="height:200px;" class="img-responsive" data-lightbox="image-1" src="{{ post.image2.url }}"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ post.image3.url }}" data-lightbox="image-1"><img style="height:200px;" class="img-responsive" data-lightbox="image-1" src="{{ post.image3.url }}"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ post.image4.url }}" data-lightbox="image-1"><img style="height:200px;" class="img-responsive" data-lightbox="image-1" src="{{ post.image4.url }}"></a>
            </div>
        </div>
    </section>

    <section id="dividers-2">
        <div class="row">
            <div class="col-md-6">
                <h4 class="sub-heading-1">About Project</h4>
                <p class="sub-content-1">{{ post.content }}</p>
            </div>
            <div class="col-md-6">
                <h4 class="sub-heading-1">Details of Project</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Area</td>
                            <td>{{ post.area }}</td>
                        </tr>
                        <tr>
                            <td>Time</td>    
                            <td>{{ post.time }}</td>
                        </tr>
                        <tr>
                            <td>Cost</td>
                            <td>{{ post.cost }}</td>
                        </tr>
                        <tr>
                            <td>Project Type</td>
                            <td>{{ post.projectType }}</td>
                        </tr>
                        <tr>
                            <td>Project Category</td>
                            <td>{{ post.projectCategory }}</td>
                        </tr>
                        <tr>
                            <td>Project Location</td>
                            <td>{{ post.projectLocation }}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </section>

{% endblock %}
