{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% block main_content %}


	<section id="about-head">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">WHAT WE OFFER</h4>
					<p class="main-content">Professional construction services</p>
				</div>
			</div>
		</div>
	</section>
	<section id="dividers-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">OUR SERVICES</h4>
					<p class="main-content">We strive to obtain economic success and achieve complete satisfaction<br>
						of our customers..</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="image-rotate-scale">
						<img class="img-responsive" src="{% static 'img/s1.png' %}">
					</div>
					<h4 class="sub-heading-1">BUILDING CONSTRUCTION</h4>
					<p class="sub-content-1">
					Uniland Homes provide you with a detailed work specification report of the project which will include A to Z work details. The Sq feet rate varies for each building/design/specification. After discussion with the client and understanding the requirement of the client; based on the design and specification the Sq feet rate for the construction will be decided. However we ensure our rates are reasonable to you.
					Uniland Homes believe in building trust between us and the client before we progress on the work!!</p>
				</div>
				<div class="col-md-4">
					<div class="image-rotate-scale">
						<img class="img-responsive" src="{% static 'img/s2.jpg' %}">
					</div>
					<h4 class="sub-heading-1">INTERIOR DESIGNING</h4>
					<p class="sub-content-1">During the construction stage you might wonder what colour, furniture, style to be applied to make your Home to disguise to Heaven and to feel a lifelong comfort living at your Home. Below briefed are the different style of Interior Design we can accommodate to your home. If you like Classic style for example; we can style your home with classic wall decoration, arranging classic fancy objects, designing light which suits the classic style, arrange furniture which is of classic style etc we can make the changes according to you taste, during the designing stage.</p>
				</div>
				<div class="col-md-4">
					<div class="image-rotate-scale">
						<img class="img-responsive" src="{% static 'img/s3.jpg' %}">
					</div>
					<h4 class="sub-heading-1">RENOVATION</h4>
					<p class="sub-content-1">If you have a house and feels it requires a makeover to stand at per with the modern style and amenities we can help you re-invent a complete new look to your home through renovation concept.</p>
				</div>
			</div>
		</div>
	</section>


	<section id="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4 class="main-heading">FEAUTURES</h4>
					<p class="main-content">Professional construction services</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 item">
					<div class="row details">
						<div class="col-md-4 text-center content-icon"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span></div>
						<div class="col-md-8"><p class="feature-text">Affordable Prices</p></div>
					</div>
				</div>
				<div class="col-md-6 item">
					<div class="row details">
						<div class="col-md-4 text-center content-icon"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
						<div class="col-md-8"><p class="feature-text">Exclusive Designers</p></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 item">
					<div class="row details">
						<div class="col-md-4 text-center content-icon"><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span></div>
						<div class="col-md-8"><p class="feature-text">High Quality Materials</p></div>
					</div>
				</div>
				<div class="col-md-6 item">
					<div class="row details">
						<div class="col-md-4 text-center content-icon"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></div>
						<div class="col-md-8"><p class="feature-text">Work in Time</p></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}