.row
{
	margin: 0;
}
body
{
	padding: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    background-color: #fff;
}
section{
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Navbar Design*/
.navbar
{
	background : #fff;
	padding:20px 0px;
	border: none;
	transition: all 0.5s ease 0s;
}
.navbar-left li 
{
	text-transform: uppercase;
	font-size: 13px;
}
.navbar-left li a
{
	padding:15px 10px;
	
} 
.navbar-default .navbar-nav>li>a:hover
{
	color: #d49d7c;
} 
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
	background-color: transparent;
} 
.shrink
{
	padding:10px 0px;
	background-color: rgba(255, 255, 255, 0.92);
}
/* Headings and Paragraphs */
.main-heading
{
	font-size: 18px;
	color: #494c50;
	font-weight: 400;
	letter-spacing: 0.4em;
}
.main-content{
	font-weight: 300;
	margin-top: 15px;
	letter-spacing: 0.1em;
	line-height: 1.6;
	color : #a6a7a8;
	font-size: 16px;	
}
.sub-heading-1
{
	color: #494c50;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin-bottom: 1.5em;
	margin-top: 30px;
	text-transform: uppercase;
}
.sub-heading-2
{
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.sub-content-1
{
	font-size: 13px;
	line-height: 25px;
	color: #686868;
}
.sub-content-2
{
	font-size: 12px;
	color: #a6a7a8;
}

/*Rotating images*/
.image-rotate-scale 
{
	overflow: hidden;
}
.image-rotate-scale img
{
	transition: all 0.9s ease 0s;
}
.image-rotate-scale:hover img
{
	transform: rotate(10deg) scale(1.5);
}

#about-head
{
	background-color: #434b55;
	color: #fff;
	padding: 40px 0px 30px;
}
#about-head .main-heading
{
	color: #fff;
}

#dividers-2{
	margin: 10px 0 10px;
	padding: 0px;
	border-top: solid 1px #f2f2f2;
	border-bottom: solid 1px #f2f2f2;
}

#get-touch
{
	background-color: #434b55;
	color: #fff;
	padding: 40px 0px 30px;
}
#get-touch .main-heading
{
	color: #fff;
}
#get-touch .sub-heading-2
{
	color: #fff;
}
#get-touch .item-center
{
	border-left: solid 1px #a6a7a8;
	border-right: solid 1px #a6a7a8;
}

#dividers-4 .item
{
	border: 1px solid #f2f2f2;
	padding: 20px;
}
#dividers-4 .item:hover img
{
	opacity: 0.7;
}

#features
{
	background-color: #4e5660;
	color: #fff;
}
#features .main-heading
{
	color: #fff;
}
#features .item
{
	padding: 30px;	
}
#features .item .details:hover
{
	box-shadow: 2px 2px 10px #323840;
}
#features .item .details
{
	background-color: #434b55;
	transition: all 0.9s ease 0s;
}
#features .item .glyphicon
{
	padding: 30px;
	font-size: 3em;
}
#features .item .content-icon
{
	background-color: #323840;
}
#features .item .feature-text
{
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-top: 15px;
}


.notifications
{
	height: 300px;
	overflow: hidden;
}

#mission
{
	background-color: #4e5660;
	color: #fff;
}
#mission .main-heading
{
	color: #fff;
}
#mission .glyphicon
{
	background-color: #fff;
	color: #4e5660;
	padding: 30px;
	font-size: 3em;
	border-radius: 100px; 
	transition: all 0.9s ease 0s;
}
#mission:hover .glyphicon
{
	border-radius: 10px;
}

/* Carousel - Design */
.slide-1 {
	background-image: url("../img/1.jpg");
}
.slide-2 {
	background-image: url("../img/1.jpg");
}
.slide-3 {
	background-image: url("../img/1.jpg");
}
.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 500px; 
	height: 100%;
	width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	background-color: #4e5660;
}
.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #4e5660;
	margin-top: 1em; 
}
.carousel-caption h3:first-child {
	animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
}
.carousel-caption button {
	animation-delay: 3s;
}
.p {
  padding-top: 125px;
  text-align: center;
}
.p a {
  text-decoration: underline;
}
.carousel-control
{
	width: 0px;
	opacity:1;
}
.carousel-control:hover
{
	opacity:.5;
}
.glyphicon-menu-left,.glyphicon-menu-right
{
	top: 40%;
	padding: 30px 10px;
	background-color: #4e5660;
}
.glyphicon-menu-right
{
	margin-left: -40px;
}

/*Buttons & Forms - Design*/
.button-1
{
	padding: 10px 20px;
	border:1px solid #4e5660;
	text-decoration: none;
	color: #4e5660;
	text-transform: uppercase;
}
.button-1:hover
{
	color: #d49d7c;
	text-decoration: none;
}

.input-form
{
	border: 1px solid #4e5660;
	outline: none;
	padding: 10px 20px;
}
.input-form:focus,.input-form:active
{
	border: 1px solid #d49d7c;
}